
<div style="margin-left:30px;margin-top:-10px"> 
<h3>Users </h3></div>
<div style="margin-left:30px;margin-top:0px">
  <%= render "table" %>

<div style="margin-top:18px">
<%= link_to t('.new', :default => t("helpers.links.new")),
  new_admin_user_path,
  :class => 'btn btn-primary' %>

  <%= link_to t('.back', :default => t("helpers.links.back")),
    admin_users_path, :class => 'btn'  %>
 </div>
</div>
